html,
body {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
}

html nav,
body nav {
  width: 100%;
  height: 1.6vh;
  background-color: #DC9212;
}

html .content,
body .content {
  width: 90%;
  height: 88.6vh;
  margin-left: 5%;
}

html .content .con-subtitle,
body .content .con-subtitle {
  font-size: 1.5rem;
  text-align: center;
  padding: 100px 0px 70px 0px;
}

html .content .con-subtitle p,
body .content .con-subtitle p {
  margin: 0 auto;
}

html .content .con-subtitle-connected,
body .content .con-subtitle-connected {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 100px;
}

html .content .con-subtitle-connected p,
body .content .con-subtitle-connected p {
  margin: 0 auto;
}

html .content .con-form,
body .content .con-form {
  width: 380px;
  height: 38%;
  margin: auto;
}

html .content .con-form form,
body .content .con-form form {
  width: 100%;
  height: 100%;
}

html .content .con-form .inputbasic,
body .content .con-form .inputbasic {
  width: 90%;
  padding: 12px;
  border: 1.4px solid;
  background-color: white;
  outline: none;
  margin-bottom: 5%;
  border: 1px solid #4d4d4d;
  border-radius: 1.5px;
  font-size: 1.2rem;
  font-family: 'Raleway', sans-serif;
  color: black;
}

html .content .con-form input:hover,
body .content .con-form input:hover {
  border: 1.4px solid black;
}

html .content .con-form input:focus,
body .content .con-form input:focus {
  border: 2px solid #DC9212;
}

html .content .con-form input::-webkit-input-placeholder,
body .content .con-form input::-webkit-input-placeholder {
  color: black;
}

html .content .con-form input:-ms-input-placeholder,
body .content .con-form input:-ms-input-placeholder {
  color: black;
}

html .content .con-form input::-ms-input-placeholder,
body .content .con-form input::-ms-input-placeholder {
  color: black;
}

html .content .con-form input::placeholder,
body .content .con-form input::placeholder {
  color: black;
}

html .content .con-form #submit,
body .content .con-form #submit {
  width: 97%;
  padding: 13px;
  background-color: #DC9212;
  border: none;
  border-radius: 2px;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
}

html .content .con-form #submit:hover,
body .content .con-form #submit:hover {
  background-color: #c08012;
  cursor: pointer;
}

html .content .con-mdp,
body .content .con-mdp {
  margin-top: -2.5%;
  text-align: center;
  padding: 1%;
}

html .content .con-mdp .mdp,
body .content .con-mdp .mdp {
  color: #DC9212;
  -webkit-text-decoration: underline white;
          text-decoration: underline white;
}

html footer,
body footer {
  width: 100%;
  height: 10vh;
  border-top: 0.1px solid lightgrey;
}

html footer .footer-pos,
body footer .footer-pos {
  width: 90%;
  max-height: 10vh;
  margin-left: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

html footer .footer-pos .logo,
body footer .footer-pos .logo {
  width: 60px;
  height: 7vh;
  margin-top: 12px;
}

html footer .footer-pos p,
body footer .footer-pos p {
  font-size: 0.8rem;
  margin-top: 25px;
}

html .container h1,
html .container h2,
body .container h1,
body .container h2 {
  text-align: center;
}

html .container h2,
body .container h2 {
  margin-bottom: 70px;
}

html .container .table-head,
body .container .table-head {
  background-color: #DC9212;
  color: white;
}

html .container .btn,
body .container .btn {
  background-color: #DC9212;
  border: none;
}

html .fournisseur-page h1,
body .fournisseur-page h1 {
  padding: 20px;
}

html .fournisseur-page .card,
body .fournisseur-page .card {
  margin-bottom: 40px;
}

html .fournisseur-page .card .header-fiche,
body .fournisseur-page .card .header-fiche {
  background-color: #DC9212;
  color: white;
}

html .fournisseur-page .btn,
body .fournisseur-page .btn {
  background-color: #DC9212;
  border: none;
  color: white;
  margin-bottom: 20px;
}

html .ajouter-container h1,
body .ajouter-container h1 {
  text-align: center;
  padding: 40px 0px 30px 0px;
}

html .ajouter-container .form,
body .ajouter-container .form {
  height: 38%;
  text-align: center;
  padding: 0px 30px 0px 30px;
  width: 60%;
  margin: 0 auto;
}

html .ajouter-container .form form,
body .ajouter-container .form form {
  width: 100%;
  height: 100%;
}

html .ajouter-container .form form .btn,
body .ajouter-container .form form .btn {
  background-color: #DC9212;
  border: none;
  color: white;
}

html .ajouter-container .form .inputbasic,
body .ajouter-container .form .inputbasic {
  width: 90%;
  padding: 12px;
  border: none;
  border-bottom: solid #191919 1px;
  background-color: white;
  outline: none;
  margin-bottom: 10px;
  margin-top: 20px;
  font-size: 1.2rem;
  font-family: 'Raleway', sans-serif;
  color: black;
}

html .ajouter-container .form input:hover,
body .ajouter-container .form input:hover {
  border-bottom: 1px solid #DC9212;
}

html .ajouter-container .form input:focus,
body .ajouter-container .form input:focus {
  border-bottom: 1.5px solid #DC9212;
}

html .ajouter-container .form input::-webkit-input-placeholder,
body .ajouter-container .form input::-webkit-input-placeholder {
  color: rgba(122, 122, 122, 0.836);
}

html .ajouter-container .form input:-ms-input-placeholder,
body .ajouter-container .form input:-ms-input-placeholder {
  color: rgba(122, 122, 122, 0.836);
}

html .ajouter-container .form input::-ms-input-placeholder,
body .ajouter-container .form input::-ms-input-placeholder {
  color: rgba(122, 122, 122, 0.836);
}

html .ajouter-container .form input::placeholder,
body .ajouter-container .form input::placeholder {
  color: rgba(122, 122, 122, 0.836);
}

html .ajouter-container .form #description,
body .ajouter-container .form #description {
  padding-bottom: 100px;
  border: none;
  border-bottom: 1px solid #191919;
  outline: none;
  margin-left: 18px;
}

html .ajouter-container .form #description:hover,
body .ajouter-container .form #description:hover {
  border-bottom: 1px solid #DC9212;
}

html .ajouter-container .form #description:focus,
body .ajouter-container .form #description:focus {
  border-bottom: 1.5px solid #DC9212;
}

html .ajouter-container .form #description::-webkit-input-placeholder,
body .ajouter-container .form #description::-webkit-input-placeholder {
  color: rgba(122, 122, 122, 0.836);
  font-size: 1.2rem;
}

html .ajouter-container .form #description:-ms-input-placeholder,
body .ajouter-container .form #description:-ms-input-placeholder {
  color: rgba(122, 122, 122, 0.836);
  font-size: 1.2rem;
}

html .ajouter-container .form #description::-ms-input-placeholder,
body .ajouter-container .form #description::-ms-input-placeholder {
  color: rgba(122, 122, 122, 0.836);
  font-size: 1.2rem;
}

html .ajouter-container .form #description::placeholder,
body .ajouter-container .form #description::placeholder {
  color: rgba(122, 122, 122, 0.836);
  font-size: 1.2rem;
}

html .ajouter-container .form .buttons,
body .ajouter-container .form .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
}

html .ajouter-container .form .buttons #submit,
body .ajouter-container .form .buttons #submit {
  width: 100px;
  padding: 13px;
  background-color: #DC9212;
  border: none;
  border-radius: 15px;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
}

html .ajouter-container .form .buttons #submit:hover,
body .ajouter-container .form .buttons #submit:hover {
  background-color: #c08012;
  cursor: pointer;
}

html .ajouter-container .form .buttons #return,
body .ajouter-container .form .buttons #return {
  width: 100px;
  padding: 13px;
  background-color: #DC9212;
  border: none;
  border-radius: 15px;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
}

html .ajouter-container .form .buttons #return:hover,
body .ajouter-container .form .buttons #return:hover {
  background-color: #c08012;
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */