html,
body {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;

    //CONNEXION.HTML
    nav {
        width: 100%;
        height: 1.6vh;
        background-color: #DC9212;
    }

    //CONTENT
    .content {
        width: 90%;
        height: 88.6vh;
        margin-left: 5%;

        .con-subtitle {
            font-size: 1.5rem;
            text-align: center;
            padding: 100px 0px 70px 0px;

            p {
                margin: 0 auto;
            }
        }

        .con-subtitle-connected {
            font-size: 1.5rem;
            text-align: center;
            margin-top: 100px;

            p {
                margin: 0 auto;
            }
        }

        .con-form {
            width: 380px;
            height: 38%;
            margin: auto;

            form {
                width: 100%;
                height: 100%;
            }

            //INPUTS
            .inputbasic {
                width: 90%;
                padding: 12px;
                border: 1.4px solid;
                background-color: white;
                outline: none;
                margin-bottom: 5%;
                border: 1px solid rgb(77, 77, 77);
                border-radius: 1.5px;
                font-size: 1.2rem;
                font-family: 'Raleway', sans-serif;
                color: black;
            }

            input:hover {
                border: 1.4px solid black;
            }

            input:focus {
                border: 2px solid #DC9212;
            }

            input::placeholder {
                color: black;
            }

            #submit {
                width: 97%;
                padding: 13px;
                background-color: #DC9212;
                border: none;
                border-radius: 2px;
                color: white;
                font-family: 'Raleway', sans-serif;
                font-size: 1rem;
            }

            #submit:hover {
                background-color: rgb(192, 128, 18);
                cursor: pointer;
            }
        }

        .con-mdp {
            margin-top: -2.5%;
            text-align: center;
            padding: 1%;

            .mdp {
                color: #DC9212;
                text-decoration: underline white;
            }
        }
    }

    //FOOTER
    footer {
        width: 100%;
        height: 10vh;
        border-top: 0.1px solid lightgrey;

        .footer-pos {
            width: 90%;
            max-height: 10vh;
            margin-left: 5%;
            display: flex;
            justify-content: space-evenly;

            .logo {
                width: 60px;
                height: 7vh;
                margin-top: 12px;
            }

            p {
                font-size: 0.8rem;
                margin-top: 25px;
            }
        }
    }



    //FOURNISSEURS.html

    .container {

        h1,
        h2 {
            text-align: center
        }

        h2 {
            margin-bottom: 70px;
        }

        .table-head {
            background-color: #DC9212;
            color: white;
        }

        .btn {
            background-color: #DC9212;
            border: none;
        }
    }


    //FICHEDETAILLEE.HTML

    .fournisseur-page{
        h1{
            padding: 20px;
        }
        .card{
            margin-bottom: 40px;
            .header-fiche {
                background-color: #DC9212;
                color: white;
            }
        }
        .btn {
            background-color: #DC9212;
            border: none;
            color: white;
            margin-bottom: 20px;
        }
    }

    //AJOUTER.HTML
    .ajouter-container {
        h1 {
            text-align: center;
            padding: 40px 0px 30px 0px;
        }

        // FORM
        .form {
            height: 38%;
            text-align: center;
            padding: 0px 30px 0px 30px;
            width: 60%;
            margin: 0 auto;

            form {
                width: 100%;
                height: 100%;
                .btn {
                    background-color: #DC9212;
                    border: none;
                    color: white;
                }
            }

            //INPUTS
            .inputbasic {
                width: 90%;
                padding: 12px;
                border: none;
                border-bottom: solid #191919 1px;
                background-color: white;
                outline: none;
                margin-bottom: 10px;
                margin-top: 20px;
                font-size: 1.2rem;
                font-family: 'Raleway', sans-serif;
                color: black;
            }

            input:hover {
                border-bottom: 1px solid #DC9212;
            }

            input:focus {
                border-bottom: 1.5px solid #DC9212;
            }

            input::placeholder {
                color: rgba(122, 122, 122, 0.836);
            }

            #description {
                padding-bottom: 100px;
                border: none;
                border-bottom: 1px solid #191919;
                outline: none;
                margin-left: 18px;
            }

            #description:hover{
                border-bottom: 1px solid #DC9212;
            }

            #description:focus{
                border-bottom: 1.5px solid #DC9212;
            }

            #description::placeholder{
                color: rgba(122, 122, 122, 0.836);
                font-size: 1.2rem;
            }

            //BUTTONS
            .buttons {
                display: flex;
                width: 100%;
                justify-content: space-between;
                margin-top: 10px;

                #submit {
                    width: 100px;
                    padding: 13px;
                    background-color: #DC9212;
                    border: none;
                    border-radius: 15px;
                    color: white;
                    font-family: 'Raleway', sans-serif;
                    font-size: 1rem;
                }

                #submit:hover {
                    background-color: rgb(192, 128, 18);
                    cursor: pointer;
                }

                #return {
                    width: 100px;
                    padding: 13px;
                    background-color: #DC9212;
                    border: none;
                    border-radius: 15px;
                    color: white;
                    font-family: 'Raleway', sans-serif;
                    font-size: 1rem;
                }

                #return:hover {
                    background-color: rgb(192, 128, 18);
                    cursor: pointer;
                }
            }
        }
    }
}